.elementor-554 .elementor-element.elementor-element-463dca11>.elementor-container {
    min-height: 550px;
}

.elementor-554 .elementor-element.elementor-element-463dca11:not(.elementor-motion-effects-element-type-background),
.elementor-554 .elementor-element.elementor-element-463dca11>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2023/08/659a6fe55520e13261dbd7a43cd9fefb827da64fe3fc513ab7f0d2265ed4f5b5.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-554 .elementor-element.elementor-element-463dca11>.elementor-background-overlay {
    background-color: #00000099;
    opacity: 0.75;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-554 .elementor-element.elementor-element-463dca11 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 15px 0px 15px;
}

.elementor-bc-flex-widget .elementor-554 .elementor-element.elementor-element-7c2bb6fe.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-554 .elementor-element.elementor-element-7c2bb6fe.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-554 .elementor-element.elementor-element-7c2bb6fe.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-554 .elementor-element.elementor-element-7c2bb6fe>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
}

.elementor-554 .elementor-element.elementor-element-7c2bb6fe>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-554 .elementor-element.elementor-element-212e27b1 {
    text-align: center;
}

.elementor-554 .elementor-element.elementor-element-212e27b1 .elementor-heading-title {
    color: #FFFFFF;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.75);
}

.elementor-554 .elementor-element.elementor-element-67a967:not(.elementor-motion-effects-element-type-background),
.elementor-554 .elementor-element.elementor-element-67a967>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-554 .elementor-element.elementor-element-67a967 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 7em 1em 7em 1em;
}

.elementor-554 .elementor-element.elementor-element-67a967>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-554 .elementor-element.elementor-element-2d299122.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-554 .elementor-element.elementor-element-2d299122.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-554 .elementor-element.elementor-element-2d299122>.elementor-element-populated {
    margin: 0em 3em 0em 0em;
    --e-column-margin-right: 3em;
    --e-column-margin-left: 0em;
}

.elementor-554 .elementor-element.elementor-element-9b3cc7d img {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-bc-flex-widget .elementor-554 .elementor-element.elementor-element-7099239e.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-554 .elementor-element.elementor-element-7099239e.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-554 .elementor-element.elementor-element-6e5ab9c8 {
    font-family: "Montserrat", Sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.elementor-554 .elementor-element.elementor-element-9025793 .elementor-heading-title {
    color: #5400b7;
    font-family: "Montserrat", Sans-serif;
    font-size: 28px;
    font-weight: 700;
}

.elementor-554 .elementor-element.elementor-element-9025793>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-554 .elementor-element.elementor-element-d004dfa {
    font-family: "Montserrat", Sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.elementor-554 .elementor-element.elementor-element-4a6608be {
    padding: 7em 1em 6em 1em;
}

.elementor-554 .elementor-element.elementor-element-48e7dbfd>.elementor-element-populated {
    margin: 0em 3em 0em 0em;
    --e-column-margin-right: 3em;
    --e-column-margin-left: 0em;
}

.elementor-554 .elementor-element.elementor-element-622b68c2 .elementor-accordion-item {
    border-width: 1px;
    border-color: #615F5B33;
}

.elementor-554 .elementor-element.elementor-element-622b68c2 .elementor-accordion-item .elementor-tab-content {
    border-width: 1px;
    border-top-color: #615F5B33;
}

.elementor-554 .elementor-element.elementor-element-622b68c2 .elementor-accordion-item .elementor-tab-title.elementor-active {
    border-width: 1px;
    border-bottom-color: #615F5B33;
}

.elementor-554 .elementor-element.elementor-element-622b68c2 .elementor-accordion-icon,
.elementor-554 .elementor-element.elementor-element-622b68c2 .elementor-accordion-title {
    color: var(--e-global-color-secondary);
}

.elementor-554 .elementor-element.elementor-element-622b68c2 .elementor-accordion-icon svg {
    fill: var(--e-global-color-secondary);
}

.elementor-554 .elementor-element.elementor-element-622b68c2 .elementor-active .elementor-accordion-icon,
.elementor-554 .elementor-element.elementor-element-622b68c2 .elementor-active .elementor-accordion-title {
    color: #5400b7;
}

.elementor-554 .elementor-element.elementor-element-622b68c2 .elementor-active .elementor-accordion-icon svg {
    fill: var(#5400b7);
}

.elementor-554 .elementor-element.elementor-element-622b68c2 .elementor-accordion-title {
    font-family: var(--e-global-typography-7044a64-font-family), Sans-serif;
    font-size: var(--e-global-typography-7044a64-font-size);
    font-weight: var(--e-global-typography-7044a64-font-weight);
    line-height: var(--e-global-typography-7044a64-line-height);
    letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
    word-spacing: var(--e-global-typography-7044a64-word-spacing);
}

.elementor-554 .elementor-element.elementor-element-622b68c2 .elementor-tab-title {
    padding: 30px 30px 30px 30px;
}

.elementor-554 .elementor-element.elementor-element-622b68c2 .elementor-tab-content {
    color: var(--e-global-color-text);
    padding: 20px 30px 20px 30px;
}

.elementor-554 .elementor-element.elementor-element-713387df:not(.elementor-motion-effects-element-type-background),
.elementor-554 .elementor-element.elementor-element-713387df>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(180deg, #FFFFFF 29%, #ECECEC 100%);
}

.elementor-554 .elementor-element.elementor-element-713387df>.elementor-background-overlay {
    opacity: 0.3;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-554 .elementor-element.elementor-element-713387df {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 6em 1em 8em 1em;
}

.elementor-554 .elementor-element.elementor-element-20c5f2fa {
    text-align: center;
}

.elementor-554 .elementor-element.elementor-element-20c5f2fa .elementor-heading-title {
    color: var(--e-global-color-text);
}

.elementor-554 .elementor-element.elementor-element-15d817e7 {
    --divider-border-style: solid;
    --divider-color: var(--e-global-color-text);
    --divider-border-width: 3px;
}

.elementor-554 .elementor-element.elementor-element-15d817e7 .elementor-divider-separator {
    width: 100px;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-554 .elementor-element.elementor-element-15d817e7 .elementor-divider {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-554 .elementor-element.elementor-element-3d56cfe6.elementor-position-right .elementor-image-box-img {
    margin-left: 8px;
}

.elementor-554 .elementor-element.elementor-element-3d56cfe6.elementor-position-left .elementor-image-box-img {
    margin-right: 8px;
}

.elementor-554 .elementor-element.elementor-element-3d56cfe6.elementor-position-top .elementor-image-box-img {
    margin-bottom: 8px;
}

.elementor-554 .elementor-element.elementor-element-3d56cfe6 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%;
}

.elementor-554 .elementor-element.elementor-element-3d56cfe6 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-554 .elementor-element.elementor-element-3d56cfe6 .elementor-image-box-title {
    margin-bottom: 8px;
    color: #000000;
    font-family: var(--e-global-typography-7044a64-font-family), Sans-serif;
    font-size: var(--e-global-typography-7044a64-font-size);
    font-weight: var(--e-global-typography-7044a64-font-weight);
    line-height: var(--e-global-typography-7044a64-line-height);
    letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
    word-spacing: var(--e-global-typography-7044a64-word-spacing);
}

.elementor-554 .elementor-element.elementor-element-3d56cfe6 .elementor-image-box-description {
    color: #000000;
}

.elementor-554 .elementor-element.elementor-element-3d56cfe6>.elementor-widget-container {
    padding: 0em 0em 1em 0em;
}

.elementor-554 .elementor-element.elementor-element-4bfdcfb9.elementor-position-right .elementor-image-box-img {
    margin-left: 8px;
}

.elementor-554 .elementor-element.elementor-element-4bfdcfb9.elementor-position-left .elementor-image-box-img {
    margin-right: 8px;
}

.elementor-554 .elementor-element.elementor-element-4bfdcfb9.elementor-position-top .elementor-image-box-img {
    margin-bottom: 8px;
}

.elementor-554 .elementor-element.elementor-element-4bfdcfb9 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%;
}

.elementor-554 .elementor-element.elementor-element-4bfdcfb9 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-554 .elementor-element.elementor-element-4bfdcfb9 .elementor-image-box-title {
    margin-bottom: 8px;
    color: #000000;
    font-family: var(--e-global-typography-7044a64-font-family), Sans-serif;
    font-size: var(--e-global-typography-7044a64-font-size);
    font-weight: var(--e-global-typography-7044a64-font-weight);
    line-height: var(--e-global-typography-7044a64-line-height);
    letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
    word-spacing: var(--e-global-typography-7044a64-word-spacing);
}

.elementor-554 .elementor-element.elementor-element-4bfdcfb9 .elementor-image-box-description {
    color: #000000;
}

.elementor-554 .elementor-element.elementor-element-4bfdcfb9>.elementor-widget-container {
    padding: 0em 0em 1em 0em;
}

.elementor-554 .elementor-element.elementor-element-23c573ce.elementor-position-right .elementor-image-box-img {
    margin-left: 8px;
}

.elementor-554 .elementor-element.elementor-element-23c573ce.elementor-position-left .elementor-image-box-img {
    margin-right: 8px;
}

.elementor-554 .elementor-element.elementor-element-23c573ce.elementor-position-top .elementor-image-box-img {
    margin-bottom: 8px;
}

.elementor-554 .elementor-element.elementor-element-23c573ce .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%;
}

.elementor-554 .elementor-element.elementor-element-23c573ce .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-554 .elementor-element.elementor-element-23c573ce .elementor-image-box-title {
    margin-bottom: 8px;
    color: #000000;
    font-family: var(--e-global-typography-7044a64-font-family), Sans-serif;
    font-size: var(--e-global-typography-7044a64-font-size);
    font-weight: var(--e-global-typography-7044a64-font-weight);
    line-height: var(--e-global-typography-7044a64-line-height);
    letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
    word-spacing: var(--e-global-typography-7044a64-word-spacing);
}

.elementor-554 .elementor-element.elementor-element-23c573ce .elementor-image-box-description {
    color: #000000;
}

.elementor-554 .elementor-element.elementor-element-23c573ce>.elementor-widget-container {
    padding: 0em 0em 1em 0em;
}

.elementor-554 .elementor-element.elementor-element-342ad2b7.elementor-position-right .elementor-image-box-img {
    margin-left: 8px;
}

.elementor-554 .elementor-element.elementor-element-342ad2b7.elementor-position-left .elementor-image-box-img {
    margin-right: 8px;
}

.elementor-554 .elementor-element.elementor-element-342ad2b7.elementor-position-top .elementor-image-box-img {
    margin-bottom: 8px;
}

.elementor-554 .elementor-element.elementor-element-342ad2b7 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%;
}

.elementor-554 .elementor-element.elementor-element-342ad2b7 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-554 .elementor-element.elementor-element-342ad2b7 .elementor-image-box-title {
    margin-bottom: 8px;
    color: #000000;
    font-family: var(--e-global-typography-7044a64-font-family), Sans-serif;
    font-size: var(--e-global-typography-7044a64-font-size);
    font-weight: var(--e-global-typography-7044a64-font-weight);
    line-height: var(--e-global-typography-7044a64-line-height);
    letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
    word-spacing: var(--e-global-typography-7044a64-word-spacing);
}

.elementor-554 .elementor-element.elementor-element-342ad2b7 .elementor-image-box-description {
    color: #000000;
}

.elementor-554 .elementor-element.elementor-element-342ad2b7>.elementor-widget-container {
    padding: 0em 0em 1em 0em;
}

.elementor-554 .elementor-element.elementor-element-6a5830b.elementor-position-right .elementor-image-box-img {
    margin-left: 8px;
}

.elementor-554 .elementor-element.elementor-element-6a5830b.elementor-position-left .elementor-image-box-img {
    margin-right: 8px;
}

.elementor-554 .elementor-element.elementor-element-6a5830b.elementor-position-top .elementor-image-box-img {
    margin-bottom: 8px;
}

.elementor-554 .elementor-element.elementor-element-6a5830b .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%;
}

.elementor-554 .elementor-element.elementor-element-6a5830b .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-554 .elementor-element.elementor-element-6a5830b .elementor-image-box-title {
    margin-bottom: 8px;
    color: #000000;
    font-family: var(--e-global-typography-7044a64-font-family), Sans-serif;
    font-size: var(--e-global-typography-7044a64-font-size);
    font-weight: var(--e-global-typography-7044a64-font-weight);
    line-height: var(--e-global-typography-7044a64-line-height);
    letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
    word-spacing: var(--e-global-typography-7044a64-word-spacing);
}

.elementor-554 .elementor-element.elementor-element-6a5830b .elementor-image-box-description {
    color: #000000;
}

.elementor-554 .elementor-element.elementor-element-6a5830b>.elementor-widget-container {
    padding: 0em 0em 1em 0em;
}

.elementor-554 .elementor-element.elementor-element-536e690.elementor-position-right .elementor-image-box-img {
    margin-left: 8px;
}

.elementor-554 .elementor-element.elementor-element-536e690.elementor-position-left .elementor-image-box-img {
    margin-right: 8px;
}

.elementor-554 .elementor-element.elementor-element-536e690.elementor-position-top .elementor-image-box-img {
    margin-bottom: 8px;
}

.elementor-554 .elementor-element.elementor-element-536e690 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%;
}

.elementor-554 .elementor-element.elementor-element-536e690 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-554 .elementor-element.elementor-element-536e690 .elementor-image-box-title {
    margin-bottom: 8px;
    color: #000000;
    font-family: var(--e-global-typography-7044a64-font-family), Sans-serif;
    font-size: var(--e-global-typography-7044a64-font-size);
    font-weight: var(--e-global-typography-7044a64-font-weight);
    line-height: var(--e-global-typography-7044a64-line-height);
    letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
    word-spacing: var(--e-global-typography-7044a64-word-spacing);
}

.elementor-554 .elementor-element.elementor-element-536e690 .elementor-image-box-description {
    color: #000000;
}

.elementor-554 .elementor-element.elementor-element-536e690>.elementor-widget-container {
    padding: 0em 0em 1em 0em;
}

.elementor-554 .elementor-element.elementor-element-eca2cde.elementor-position-right .elementor-image-box-img {
    margin-left: 8px;
}

.elementor-554 .elementor-element.elementor-element-eca2cde.elementor-position-left .elementor-image-box-img {
    margin-right: 8px;
}

.elementor-554 .elementor-element.elementor-element-eca2cde.elementor-position-top .elementor-image-box-img {
    margin-bottom: 8px;
}

.elementor-554 .elementor-element.elementor-element-eca2cde .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%;
}

.elementor-554 .elementor-element.elementor-element-eca2cde .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-554 .elementor-element.elementor-element-eca2cde .elementor-image-box-title {
    margin-bottom: 8px;
    color: #000000;
    font-family: var(--e-global-typography-7044a64-font-family), Sans-serif;
    font-size: var(--e-global-typography-7044a64-font-size);
    font-weight: var(--e-global-typography-7044a64-font-weight);
    line-height: var(--e-global-typography-7044a64-line-height);
    letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
    word-spacing: var(--e-global-typography-7044a64-word-spacing);
}

.elementor-554 .elementor-element.elementor-element-eca2cde .elementor-image-box-description {
    color: #000000;
}

.elementor-554 .elementor-element.elementor-element-eca2cde>.elementor-widget-container {
    padding: 0em 0em 1em 0em;
}

:root {
    --page-title-display: none;
}

@media(min-width:768px) {
    .elementor-554 .elementor-element.elementor-element-2d299122 {
        width: 42.813%;
    }

    .elementor-554 .elementor-element.elementor-element-7099239e {
        width: 57.187%;
    }

    .elementor-554 .elementor-element.elementor-element-48e7dbfd {
        width: 30%;
    }

    .elementor-554 .elementor-element.elementor-element-41ebe879 {
        width: 69.666%;
    }
}

@media(max-width:1024px) {
    .elementor-554 .elementor-element.elementor-element-463dca11>.elementor-container {
        min-height: 500px;
    }

    .elementor-554 .elementor-element.elementor-element-463dca11 {
        margin-top: 0px;
        margin-bottom: 100px;
    }

    .elementor-bc-flex-widget .elementor-554 .elementor-element.elementor-element-7c2bb6fe.elementor-column .elementor-widget-wrap {
        align-items: center;
    }

    .elementor-554 .elementor-element.elementor-element-7c2bb6fe.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }

    .elementor-554 .elementor-element.elementor-element-7c2bb6fe.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }

    .elementor-554 .elementor-element.elementor-element-7c2bb6fe>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-554 .elementor-element.elementor-element-67a967 {
        padding: 4em 1em 4em 1em;
    }

    .elementor-554 .elementor-element.elementor-element-2d299122>.elementor-element-populated {
        margin: 0em 2em 0em 0em;
        --e-column-margin-right: 2em;
        --e-column-margin-left: 0em;
    }

    .elementor-554 .elementor-element.elementor-element-9025793 {
        width: var(--container-widget-width, 480px);
        max-width: 480px;
        --container-widget-width: 480px;
        --container-widget-flex-grow: 0;
    }

    .elementor-554 .elementor-element.elementor-element-4a6608be {
        padding: 4em 1em 4em 1em;
    }

    .elementor-554 .elementor-element.elementor-element-48e7dbfd>.elementor-element-populated {
        margin: 0em 0em 0em 0em;
        --e-column-margin-right: 0em;
        --e-column-margin-left: 0em;
    }

    .elementor-554 .elementor-element.elementor-element-41ebe879>.elementor-element-populated {
        margin: 0em 0em 0em 1em;
        --e-column-margin-right: 0em;
        --e-column-margin-left: 1em;
    }

    .elementor-554 .elementor-element.elementor-element-622b68c2 .elementor-accordion-title {
        font-size: var(--e-global-typography-7044a64-font-size);
        line-height: var(--e-global-typography-7044a64-line-height);
        letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
        word-spacing: var(--e-global-typography-7044a64-word-spacing);
    }

    .elementor-554 .elementor-element.elementor-element-622b68c2 .elementor-tab-title {
        padding: 25px 25px 25px 25px;
    }

    .elementor-554 .elementor-element.elementor-element-622b68c2 .elementor-tab-content {
        padding: 10px 20px 10px 20px;
    }

    .elementor-554 .elementor-element.elementor-element-713387df {
        padding: 3em 0.5em 5em 0.5em;
    }

    .elementor-554 .elementor-element.elementor-element-15d817e7 .elementor-divider {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .elementor-554 .elementor-element.elementor-element-3d56cfe6 .elementor-image-box-title {
        font-size: var(--e-global-typography-7044a64-font-size);
        line-height: var(--e-global-typography-7044a64-line-height);
        letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
        word-spacing: var(--e-global-typography-7044a64-word-spacing);
    }

    .elementor-554 .elementor-element.elementor-element-4bfdcfb9 .elementor-image-box-title {
        font-size: var(--e-global-typography-7044a64-font-size);
        line-height: var(--e-global-typography-7044a64-line-height);
        letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
        word-spacing: var(--e-global-typography-7044a64-word-spacing);
    }

    .elementor-554 .elementor-element.elementor-element-23c573ce .elementor-image-box-title {
        font-size: var(--e-global-typography-7044a64-font-size);
        line-height: var(--e-global-typography-7044a64-line-height);
        letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
        word-spacing: var(--e-global-typography-7044a64-word-spacing);
    }

    .elementor-554 .elementor-element.elementor-element-342ad2b7 .elementor-image-box-title {
        font-size: var(--e-global-typography-7044a64-font-size);
        line-height: var(--e-global-typography-7044a64-line-height);
        letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
        word-spacing: var(--e-global-typography-7044a64-word-spacing);
    }

    .elementor-554 .elementor-element.elementor-element-6a5830b .elementor-image-box-title {
        font-size: var(--e-global-typography-7044a64-font-size);
        line-height: var(--e-global-typography-7044a64-line-height);
        letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
        word-spacing: var(--e-global-typography-7044a64-word-spacing);
    }

    .elementor-554 .elementor-element.elementor-element-536e690 .elementor-image-box-title {
        font-size: var(--e-global-typography-7044a64-font-size);
        line-height: var(--e-global-typography-7044a64-line-height);
        letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
        word-spacing: var(--e-global-typography-7044a64-word-spacing);
    }

    .elementor-554 .elementor-element.elementor-element-eca2cde .elementor-image-box-title {
        font-size: var(--e-global-typography-7044a64-font-size);
        line-height: var(--e-global-typography-7044a64-line-height);
        letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
        word-spacing: var(--e-global-typography-7044a64-word-spacing);
    }
}

@media(max-width:767px) {
    .elementor-554 .elementor-element.elementor-element-463dca11>.elementor-container {
        min-height: 550px;
    }

    .elementor-554 .elementor-element.elementor-element-463dca11 {
        margin-top: 0px;
        margin-bottom: 80px;
    }

    .elementor-554 .elementor-element.elementor-element-7c2bb6fe>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-554 .elementor-element.elementor-element-67a967 {
        padding: 2em 1em 2em 1em;
    }

    .elementor-554 .elementor-element.elementor-element-2d299122>.elementor-element-populated {
        margin: 0em 0em 1em 0em;
        --e-column-margin-right: 0em;
        --e-column-margin-left: 0em;
    }

    .elementor-554 .elementor-element.elementor-element-4a6608be {
        padding: 2em 1em 2em 1em;
    }

    .elementor-554 .elementor-element.elementor-element-11b4eff6 {
        text-align: center;
    }

    .elementor-554 .elementor-element.elementor-element-7830976d {
        text-align: center;
    }

    .elementor-554 .elementor-element.elementor-element-41ebe879>.elementor-element-populated {
        margin: 0em 0em 0em 0em;
        --e-column-margin-right: 0em;
        --e-column-margin-left: 0em;
    }

    .elementor-554 .elementor-element.elementor-element-622b68c2 .elementor-accordion-title {
        font-size: var(--e-global-typography-7044a64-font-size);
        line-height: var(--e-global-typography-7044a64-line-height);
        letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
        word-spacing: var(--e-global-typography-7044a64-word-spacing);
    }

    .elementor-554 .elementor-element.elementor-element-622b68c2 .elementor-tab-title {
        padding: 20px 20px 20px 20px;
    }

    .elementor-554 .elementor-element.elementor-element-713387df {
        padding: 2em 0.5em 5em 0.5em;
    }

    .elementor-554 .elementor-element.elementor-element-15d817e7 .elementor-divider-separator {
        width: 80px;
    }

    .elementor-554 .elementor-element.elementor-element-3d56cfe6 .elementor-image-box-img {
        margin-bottom: 8px;
    }

    .elementor-554 .elementor-element.elementor-element-3d56cfe6 .elementor-image-box-title {
        font-size: var(--e-global-typography-7044a64-font-size);
        line-height: var(--e-global-typography-7044a64-line-height);
        letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
        word-spacing: var(--e-global-typography-7044a64-word-spacing);
    }

    .elementor-554 .elementor-element.elementor-element-4bfdcfb9 .elementor-image-box-img {
        margin-bottom: 8px;
    }

    .elementor-554 .elementor-element.elementor-element-4bfdcfb9 .elementor-image-box-title {
        font-size: var(--e-global-typography-7044a64-font-size);
        line-height: var(--e-global-typography-7044a64-line-height);
        letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
        word-spacing: var(--e-global-typography-7044a64-word-spacing);
    }

    .elementor-554 .elementor-element.elementor-element-23c573ce .elementor-image-box-img {
        margin-bottom: 8px;
    }

    .elementor-554 .elementor-element.elementor-element-23c573ce .elementor-image-box-title {
        font-size: var(--e-global-typography-7044a64-font-size);
        line-height: var(--e-global-typography-7044a64-line-height);
        letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
        word-spacing: var(--e-global-typography-7044a64-word-spacing);
    }

    .elementor-554 .elementor-element.elementor-element-342ad2b7 .elementor-image-box-img {
        margin-bottom: 8px;
    }

    .elementor-554 .elementor-element.elementor-element-342ad2b7 .elementor-image-box-title {
        font-size: var(--e-global-typography-7044a64-font-size);
        line-height: var(--e-global-typography-7044a64-line-height);
        letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
        word-spacing: var(--e-global-typography-7044a64-word-spacing);
    }

    .elementor-554 .elementor-element.elementor-element-6a5830b .elementor-image-box-img {
        margin-bottom: 8px;
    }

    .elementor-554 .elementor-element.elementor-element-6a5830b .elementor-image-box-title {
        font-size: var(--e-global-typography-7044a64-font-size);
        line-height: var(--e-global-typography-7044a64-line-height);
        letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
        word-spacing: var(--e-global-typography-7044a64-word-spacing);
    }

    .elementor-554 .elementor-element.elementor-element-536e690 .elementor-image-box-img {
        margin-bottom: 8px;
    }

    .elementor-554 .elementor-element.elementor-element-536e690 .elementor-image-box-title {
        font-size: var(--e-global-typography-7044a64-font-size);
        line-height: var(--e-global-typography-7044a64-line-height);
        letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
        word-spacing: var(--e-global-typography-7044a64-word-spacing);
    }

    .elementor-554 .elementor-element.elementor-element-eca2cde .elementor-image-box-img {
        margin-bottom: 8px;
    }

    .elementor-554 .elementor-element.elementor-element-eca2cde .elementor-image-box-title {
        font-size: var(--e-global-typography-7044a64-font-size);
        line-height: var(--e-global-typography-7044a64-line-height);
        letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
        word-spacing: var(--e-global-typography-7044a64-word-spacing);
    }
}